*~
*.pyc
*/__pycache__/
.DS_Store
*__pycache__*
*.h5
*.pkl
*.log
wepy.egg-info
*.dcd
*#*#
*.orch
sphinx/_build
docs/_build
.tox
.eggs
pip-wheel-metadata
build
dist
/sphinx/source/architecture.rst
/sphinx/source/explanation.rst
/sphinx/source/installation.rst
/sphinx/source/introduction.rst
/sphinx/api/
/sphinx/source/dev_guide.rst
/sphinx/source/quick_start.rst
/sphinx/source/users_guide.rst
/sphinx/source/troubleshooting.rst
/examples/*/outputs
*.sqlite
/sphinx/tutorials/seh_prep.rst
/examples/Lysozyme/result
/examples/Lennard_Jones_Pair/result/
/docs/*