mutagen.yml.lock

# wepy specific stuff that might be in here from the examples
*.h5
*.pkl
*.log
*.dcd
*.orch
*.sqlite

# repo specific


# jupyter stuff
.ipynb_checkpoints

# environments
_venv
_conda_envs
# the temporary mangled envs
envs/__*

jigs/*/_output
jigs/*/_tangle_source
jigs/*/_env
jigs/*/_bin

_asv_envs

## docs

# ignore html build dirs in the reports
reports/**/_html

# sphinx stuff
sphinx/_build
sphinx/_source
sphinx/_static
sphinx/_api
docs/_build

# misc
*~
*.pyc
*/__pycache__/
.DS_Store
*__pycache__*
wepy.egg-info
*#*#
.tox
.eggs
pip-wheel-metadata
build
dist
/site/*


### Project specific

## org info docs

# emacs thing..
info/auto

# the other built things
info/examples/*/_output
info/examples/*/_tangle_source
info/examples/*/_env
info/tutorials/*/_output
info/tutorials/*/_tangle_source
info/tutorials/*/_env

# testing the docs output
tests/test_docs/_tangled_docs
tests/test_docs/_examples
tests/test_docs/_tutorials

# sphinx

# this is where the converted files reside which are inputs to sphinx
sphinx/source

# this is where sphinx outputs rendered HTML
sphinx/_build

# where apidoc puts sphinx files
sphinx/_api
sphinx/api

# the directory all the virtual environments will be stored
_venv


# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage_data.sqlite
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.gitignore.io/api/python



# Created by https://www.gitignore.io/api/emacs
# Edit at https://www.gitignore.io/?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


# End of https://www.gitignore.io/api/emacs


# Created by https://www.gitignore.io/api/vim
# Edit at https://www.gitignore.io/?templates=vim

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~

# Auto-generated tag files
tags

# Persistent undo
[._]*.un~

# Coc configuration directory
.vim

# End of https://www.gitignore.io/api/vim
