# core
pip
wheel
twine

# virtual environments
virtualenv

# interactive and debugging
ipython
pdbpp

# utilities
bumpversion

# docs
sphinx
guzzle_sphinx_theme
sphinxcontrib-napoleon
nbsphinx

# testing
pytest
pytest-runner
pytest-datadir
argcomplete
flake8
tox
coverage

# modules just for tests

# openmmtools for setting up the mock systems, should be installed with anaconda
# conda install -c omnia openmmtools


# Geomm
cython

# simultaneous development
#-e ../geomm

# OR just the latest
git+https://github.com/ADicksonLab/geomm.git

# this module was used to generate an orchestrator, which is used in
# the test fixtures, it should in the future be either made a submodule
# of the testing library if it is to remain a good test case, but for now
# we just include the git repo head as a dependency for running the tests

git+https://gitlab.com/salotz/seh_prep.git
