# core
pip
wheel
twine

# virtual environments
virtualenv

# interactive and debugging
ipython
ipdb

# utilities
bumpversion

# testing
pytest
pytest-runner
pytest-datadir
flake8
tox
coverage

# docs
sphinx
guzzle_sphinx_theme
sphinxcontrib-napoleon
nbsphinx


# simultaneous development
-e ../geomm
