# core
pip
wheel
twine

# virtual environments
virtualenv

# interactive and debugging
ipython
pdbpp
remote-pdb

# utilities
bumpversion

# task running
invoke
fabric

# docs
sphinx
guzzle_sphinx_theme
sphinxcontrib-napoleon
nbsphinx

# testing
pytest
pytest-runner
argcomplete
flake8
tox
coverage
# code quality metrics
lizard
# need this for using multiprocessing logging in the tests
multiprocessing_logging

pytest-datadir
pytest-cov
pytest-benchmark
pytest-profiling


# this is a customized datadir module I made since the off the shelf
# one wasn't doing what i needed. Only need this when I need to share
# the big data until that PR gets accepted
#git+https://github.com/salotz/pytest-datadir.git

# modules just for tests

# openmmtools for setting up the mock systems, should be installed with anaconda
# conda install -c omnia openmm

mdtraj

# Geomm
cython

# simultaneous development
#-e ../geomm

# OR just the latest
git+https://github.com/ADicksonLab/geomm.git

# this module was used to generate an orchestrator, which is used in
# the test fixtures, it should in the future be either made a submodule
# of the testing library if it is to remain a good test case, but for now
# we just include the git repo head as a dependency for running the tests

git+https://gitlab.com/salotz/seh_prep.git
