Source: python-fstab
Maintainer: Lars Wirzenius <lars@ubuntu.com>
Section: python
Priority: optional
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7.3.8), python-support (>= 1.0.3), python
XS-Python-Version: all
Vcs-Bzr: http://bazaar.launchpad.net/%7ecomputer-janitor-hackers/python-fstab/trunk.deb-packaging
Homepage: https://wiki.ubuntu.com/PythonFstab

Package: python-fstab
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: read, manipulate, and write /etc/fstab files
 python-fstab is a small Python library to read, manipulate, and write
 /etc/fstab files on Unix-like systems. Users of the library can,
 for example, read in /etc/fstab, change the mount options of one
 particular filesystem, and then write the result out. The library
 guarantees that the resulting file is exactly the same as the original,
 except with the mount option added.
